# Created by venv; see https://docs.python.org/3/library/venv.html

.venv
accounts.json
.env
gix.egg-info/
dist/
src/gix/__pycache__/*
src/gix.egg-info/*
accounts_local.json
src/gix/gix_cli/__pycache__/
src/gix/gix_cli/__pycache__/cmd_gix.cpython-314.pyc